<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
     <a class="navbar-brand" href="#"><h1 style="color:azure ;"><b><i>Tourist Website</i></b></h1></a>
      <div class="d-flex">
     <button class="btn btn-success"> <a  routerLink="/register" style="color:gold;"><h3>Register Tourist</h3></a></button>      
    </div>
    <div class="d-flex">
      <button class="btn btn-success"><a routerLink="/view" style="color:gold;"> <h3>View Tourists</h3></a></button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
